<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.85.0" targetFramework="native" />
  <package id="boost_atomic-vc143" version="1.85.0" targetFramework="native" />
  <package id="boost_chrono-vc143" version="1.85.0" targetFramework="native" />
  <package id="boost_filesystem-vc143" version="1.85.0" targetFramework="native" />
  <package id="boost_log_setup-vc143" version="1.85.0" targetFramework="native" />
  <package id="boost_log-vc143" version="1.85.0" targetFramework="native" />
  <package id="boost_serialization-vc143" version="1.85.0" targetFramework="native" />
  <package id="boost_thread-vc143" version="1.85.0" targetFramework="native" />
  <package id="Eigen3" version="3.3.9" targetFramework="native" />
  <package id="fmt" version="7.0.1" targetFramework="native" />
  <package id="glad" version="1.0.0" targetFramework="native" />
  <package id="glfw" version="3.4.0" targetFramework="native" />
  <package id="glm" version="1.0.1" targetFramework="native" />
  <package id="hive.HiveCommonDLL" version="1.0.0" targetFramework="native" />
  <package id="hive.HiveConfigDLL" version="1.0.0" targetFramework="native" />
  <package id="hive.HiveLogger" version="1.0.0" targetFramework="native" />
  <package id="hive.HiveUtilityDLL" version="1.0.0" targetFramework="native" />
  <package id="inteltbb.devel.win" version="2021.12.0.496" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2021.12.0.496" targetFramework="native" />
</packages>